* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #ddf7ff;
	z-index: -10;
}

footer {
	background-color: white;
	width: 100vw;
	height: auto;
	word-break: break-all;
}

#footCol1 {
	width: 20%;
	display: inline-block;
	margin: 1%;
}

#footCol2 {
	width: 20%;
	display: inline-block;
	margin: 1%;
}

#footCol3 {
	width: 20%;
	display: inline-block;
	margin: 1%;
}

#footCol4 {
	width: 20%;
	display: inline-block;
	margin: 1%;
}

#copyright {
	text-align: center;
	margin: 2%;
}

header {
	background-color: white;
}

.link_box {
	width: 100%;
	overflow: hidden;
}

.link_flex_container_left {
	float: left;
	width: 30vw;

	list-style: none;
	font-family: Arial;
	font-size: 16pt;
	font-weight: bold;

}

.link_flex_container_left li {
	display: inline-block;
	text-align: right;
	width: 10vw;
	margin: 5%;
}

.link_flex_container_right {
	float: right;
	width: 30vw;

	position: relative;
	list-style: none;
	font-family: Arial;
	font-size: 16pt;
	font-weight: bold;

}

.link_flex_container_right li {
	display: inline-block;
	width: 20%;
	margin: 1%;
}

#search {
	position: absolute;
	top: 5px;
	left: 20px;
}

li {
	list-style: none;
}

li a {
	padding: 10px;
}

li a:link {
	text-decoration: none;
}






#logo {

	position: absolute;

	top: 5px;
	left: 35vw;
	right: 35vw;

	padding: 30px;

	background-color: white;
}

#innerlogo {
	padding: 20px;
	text-align: center;
	background-color: #ddf7ff;
}

#innerlogo a {
	text-decoration: none;
}








#scroll_img {
	position: absolute;
	top: 75vh;
	right: 10vw;
	opacity: .3;
}

#hamburger {
	display: none;
	position: absolute;

	top: 5;
	left: 5;
	padding: 10px;
	background-color: white;
}

#hamburger li {
	display: block;
	list-style: none;
	padding: 10px;
}

#hamburger li:hover {
	border: 5px solid white;
}

#hamContent {
	display: none;
	background-color: #ddf7ff;
}

#hamburger:hover #hamContent {
	display: block;
}






.dropdown {
	display: inline-block;
}

.dropbtn {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #ddf7ff;
}

.dropdownContent {
	display: none;
	position: absolute;

	padding: 20px;
	min-width: 150px;
	background-color: #ddf7ff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 100;
	text-align: center;
}

.dropdownContent a {
	text-decoration: none;
	display: block;
	padding: 10px;
}

.dropdownContent a:hover {
	border: 5px white solid;
}

.dropdown:hover .dropdownContent {
	display: block;
}








#recommendedBtn {
	border: 5px #ddf7ff solid;
	padding: 5px;
	background-color: white;
	position: absolute;
	padding: 0px;
}

#recommendedBtn .dropdownContent{
	font-size: 16pt;
}

#recommendedBtn a {
	text-decoration: none;
}

#recommendedBtn .dropdown:hover .dropbtn {
	background-color: white;
}







.vidcontainer {
	height:	70vh;
	width: 100%;
	overflow: hidden;
	border: none;
}

.vidcontainer #backgroundvideo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.vidcontainer img {
	display: block;
	width: 100%;
	min-height: 70vh;
}








.titleBreaker {
	width: 100%;
	margin: 10%;
}


.partition {
	border: 2px solid #ddf7ff;
	width: 100%;
	margin: 2%;
}








.container2 {
	margin: 2%;
	padding: 2%;
	overflow: hidden;
}








#home_divider {
	margin: 2%;
	padding: 2%;
	background-color: white;
}

#home_divider .category_box {
	padding: 2%;
}

#home_divider .category_box .pic_left_text_right {
	width: 100%;
}

#home_divider .category_box .pic_left_text_right > * {
	display: inline-block;
	width: 45%;

}

#home_divider .category_box .pic_left_text_right .text_container {
	width: 50%;
}

#home_divider .category_box .pic_left_text_right .pic_container img {
	width: 100%;
	min-height: 348px;
	min-width: 348px;
}

#home_divider .category_box .pic_left_text_right .text_container #varied_pics {
	width: 100%;
}

#home_divider .category_box .pic_left_text_right .text_container #varied_pics img {
	width: 30%;
	min-width: 25px;
}

#home_divider .category_box .pic_left_text_right .text_container #varied_pics a img {
		display: inline-block;
	width: 30%;
	min-width: 25px;
}

#home_divider .category_box .pic_left_text_right .text_container #selector_box {
	width: 100%;
}

#home_divider .category_box .pic_left_text_right .text_container #selector_box > * {
	display: inline-block;
	vertical-align: middle;
}

#home_divider .category_box .pic_left_text_right .text_container #selector_box h2{
	width: 60%;
	min-width: 100px;
	text-align: center;
}

#home_divider .category_box .pic_left_text_right .text_container #selector_box img {
	width: 7%;
	min-width: 25px;
}

#home_divider .category_box .pic_left_text_right .text_container p {
	padding: 1%;
	font-size: 16pt;
	min-width: 350px;
	max-height: 250px;
	overflow: auto;

}

#home_divider .category_box #learn_more {
	border: 5px #ddf7ff solid;
	width: 20%;
	text-align: center;
	padding: 10px;
	margin: 2%;
}








.title_header {
	margin: 2%;
	padding: 2%;
	background-color: white;
}

.title_header h2 {
	text-align: center;
	width: 100%;
}

#attract_divider {
	display: inline-block;
	background-color: white;
	width: 47%;
	padding: 2%;
	margin: 1%;
}

#attract_divider .category_box  {
	width: 100%;
}

#attract_divider .category_box .top_pic_container img {
	width: 100%;
}

#attract_divider .category_box .text_container {
	width: 100%;
	font-size: 16pt;
}

#attract_divider .category_box .bottom_pic_container img {
	width: 48%;
}








#cuisine_divider {
	background-color: white;
	margin: 2%;
	padding: 2%;
}

#cuisine_divider .restaurant_box .pic_left_text_right .pic_container {
	display: inline-block;
	width: 74%;
}

#cuisine_divider .restaurant_box .pic_left_text_right .text_container {
	display: inline-block;
	width: 24%;
	vertical-align: top;
}

#cuisine_divider .restaurant_box .pic_left_text_right .pic_container img {
	width: 45%;
	min-height: 148px;
	min-width: 148px;
}

#cuisine_divider .restaurant_box .pic_left_text_right .text_container p {
	font-size: 16pt;
	max-height: 500px;
	overflow: auto;
}

#cuisine_divider .restaurant_box .text_left_pic_right .text_container {
	display: inline-block;
	width: 24%;
	vertical-align: top;
}

#cuisine_divider .restaurant_box .text_left_pic_right .pic_container {
	display: inline-block;
	width: 74%;
}

#cuisine_divider .restaurant_box .text_left_pic_right .pic_container img {
	width: 45%;
	min-height: 148px;
	min-width: 148px;
}

#cuisine_divider .restaurant_box .text_left_pic_right .text_container p {
	font-size: 16pt;
	max-height: 500px;
	overflow: auto;
}











#travel_divider {
	background-color: white;
	margin: 1%;
	padding: 1%;
	width: 47%;
	display: inline-block;
	vertical-align: top;
}

#travel_divider .cruise_container {
	overflow: hidden;
	margin: 1%;
}

#travel_divider .flight_container {
	overflow: hidden;
	margin: 1%;
}

#travel_divider .cruise_container h2 {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}

#travel_divider .flight_container h2 {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}

#travel_divider .cruise_container #itinerary_btn {
	display: inline-block;
	border: 5px #ddf7ff solid;
	width: 40%;
	text-align: center;
	padding: 5px;
	margin: 1%;
	vertical-align: middle;
}

#travel_divider .flight_container #itinerary_btn {
	display: inline-block;
	border: 5px #ddf7ff solid;
	width: 40%;
	text-align: center;
	padding: 5px;
	margin: 1%;
	vertical-align: middle;
}

#travel_divider .cruise_container .text_container p {
	font-size: 16pt;
}

#travel_divider .flight_container .text_container p {
	font-size: 16pt;
}

#travel_divider .cruise_container .pic_container {
	overflow: hidden;
	margin: 1%;
}

#travel_divider .flight_container .pic_container {
	overflow: hidden;
	margin: 1%;
}

#travel_divider .cruise_container .pic_container .cruise_pic{
	display: inline-block;
	margin: 1%;
	margin-bottom: 20px;
	width: 40%;
}

#travel_divider .flight_container .pic_container .flight_pic{
	display: inline-block;
	margin: 1%;
	margin-bottom: 20px;
	width: 40%;
}

#travel_divider .cruise_container .pic_container .cruise_pic img {
	width: 100%;
}

#travel_divider .flight_container .pic_container .flight_pic img {
	width: 100%;
}













#acc_container {
	background-color: white;
	margin: 2%;
	padding: 2%;
}

#rec_container {
	margin: 2%;
	padding: 2%;
}

#rec_container .category_select .pic_container {
	width: 22%;
	margin: 1%;
	padding: 1%;
	display: inline-block;
}

#rec_container .category_select .pic_container img {
	width: 100%;
}









#rec_container .pic_container {
	width: 100%;
}

#rec_container .pic_container #pic1 {
	width: 45%;
	display: inline-block;
}

#rec_container .pic_container #pic_50 {
	width: 22%;
	display: inline-block;
}

#rec_container .pic_container #pic_50 img {
	width: 100%;
	display: inline-block;
}


#rec_container .title_w_text {
	width: 55%;
	display: inline-block;
	margin: 1%;
}

#rec_container .title_w_text p {
	font-size: 16pt;
}

#rec_container .left_breaker {
	width: 15%;
	display: inline-block;
}

#rec_container .right_breaker {
	width: 15%;
	display: inline-block;
}

#rec_container .pic_select_container {
	padding: 1%;
	margin: 1%;
}

#rec_container .pic_select_container #select_pic {
	display: inline-block;
	vertical-align: middle;
	width: 18%;
}

#rec_container .pic_select_container .arrow {
	display: inline-block;
	width: 10%;
	vertical-align: middle;
}

#rec_container .pic_select_container .arrow img {
	display: inline-block;
	max-width: 100%;
}

#rec_container #page_count {
	text-align: center;
	padding: 5%;
	margin: 1%;
}

#rec_container #page_count a {
	font-size: 16pt;
	padding: 2px;
}










#act_container {
	background-color: white;
	margin: 2%;
	padding: 2%;
}

#act_container .pic_container {
	width: 100%;
}

#act_container .pic_container img {
	width: 24%;
}

#act_container #selector_title_container {
	width: 100%;
	min-width: 400px;
}

#act_container #selector_title_container > * {
	display: inline-block;
	vertical-align: middle;
}

#act_container #selector_title_container img {
	width: 7%;
	min-width: 25px;
}

#act_container #selector_title_container h2 {
	width: 60%;
	min-width: 100px;
	text-align: center;
}

#act_container .pic_left_text_right {
	width: 100%;
}

#act_container .pic_left_text_right img {
	display: inline-block;
	width: 45%;
	min-width: 400px;
	vertical-align: middle;
}

#act_container .pic_left_text_right .text_container {
	display: inline-block;
	width: 45%;
	vertical-align: middle;
}

#act_container .pic_left_text_right .text_container p {
	padding: 1%;
	font-size: 16pt;
	min-width: 400px;
	max-height: 400px;
	overflow: auto;
}















.container3 {
	background-color: white;
	margin: 10%;
	padding: 5%;
	overflow: hidden;
}

#about_container {
	padding: 5%;
}

#about_container #left_about {
	float: left;
	width: 45%;
	padding: 5%;
}

#about_container p {
	padding: 5%;
	font-size: 16pt;
}

#about_container #map_pic {
	width: 100%;
}








#itinerary_container .pic_left_text_right {
	width: 100%;
	display: block;
	overflow: hidden;
}

#itinerary_container .pic_left_text_right .pic_container  {
	position: relative;
	width: 50%;
	float: left;
	margin: 2%;
}

#itinerary_container .pic_left_text_right .pic_container img {
	width: 100%;
}

#itinerary_container .pic_left_text_right .pic_container #video_text {
	position: absolute;
	top: 5%;
	left: 50%;

}

#itinerary_container .pic_left_text_right p {
	font-size: 16pt;
	margin: 2%;
	padding: 5%;
}


#itinerary_container #itinerary_form	{
	display: block;
	font-size: 16pt;
	width: 100%;
	
}

#itinerary_container #itinerary_form	form {
	font-size: 16pt;
	vertical-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}








#hoverpoint1 {
	position: absolute;
	top: 35vh;
	left: 55vh;
	z-index: 1;

}

#hoverpoint1 #hoverpointtext1 {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: white;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	z-index: 1;
	bottom: 150%;
	left: 50%;
}

#hoverpoint1:hover #hoverpointtext1 {
	visibility: visible;
}

#hoverpoint2 {
	position: absolute;
	top: 65vh;
	left: 47vw;
	z-index: 1;

}

#hoverpoint2 #hoverpointtext2 {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: white;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	z-index: 1;
	bottom: 150%;
	left: 50%;
}

#hoverpoint2:hover #hoverpointtext2 {
	visibility: visible;
}

#hoverpoint3 {
	position: absolute;
	bottom: 48vh;
	right: 10vw;
	z-index: 1;

}

#hoverpoint3 #hoverpointtext3 {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: white;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	z-index: 1;
	bottom: 150%;
	left: 50%;
}

#hoverpoint3:hover #hoverpointtext3 {
	visibility: visible;
}

#hoverpoint4 {
	position: absolute;
	bottom: 25vh;
	right: 60vw;
	z-index: 1;
}

#hoverpoint4 #hoverpointtext4 {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: white;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	z-index: 1;
	bottom: 150%;
	left: 50%;
}

#hoverpoint4:hover #hoverpointtext4 {
	visibility: visible;
}






@media (max-width: 900px) {
	.link_box {
		display: none;
	}

	.vidcontainer {
		display: none;
	}

	#hoverpoint1,#hoverpoint2,#hoverpoint3,#hoverpoint4 {
		display: none;
	}

	#logo {
		position: static;
	}

	#scroll_img {
		display: none;
	}

	#hamburger {
		z-index: 1;
		display: inline-block;
	}

	.mobileFriendlyText {
		display: block;
	}

	#footCol1 {
		width: 47%;

	}

	#footCol2 {
		display: none;

	}

	#footCol3 {
		width: 47%;	
	}

	#footCol4 {
		display: none;

	}


	#home_divider .category_box .pic_left_text_right .text_container {
		display: block;
	}

	#cuisine_divider .restaurant_box .pic_left_text_right .text_container {
		width: 100%;
		display: block;
	}

	#cuisine_divider .restaurant_box .text_left_pic_right .text_container {
		width: 100%;
		display: block;
	}

	#cuisine_divider .restaurant_box .pic_left_text_right .pic_container {
		width: 100%;
		display: block;
	}

	#cuisine_divider .restaurant_box .text_left_pic_right .pic_container {
		width: 100%;
		display: block;
	}

	#rec_container .category_select .pic_container {
		width: 100%;
		display: block;
	}

	#rec_container .title_w_text {
		width: 100%;
	}

	#rec_container .left_breaker {
		display: none;
	}

	#rec_container .right_breaker {
		display: block;
		margin: auto;
		width: 100%;
	}

	#rec_container .pic_select_container {
		display: none;
	}

	#attract_divider {
		display: block;
		width: 100%;
	}

	#travel_divider {
		display: block;
		width: 100%;
	}

}

@media (min-width: 900px) {
	#backgroundvideo {
		width: 1800px;
	}
}

@media (min-width: 1570px) {
	#backgroundvideo {
		width: 100%;
	}
	.vidcontainer {
		height: 85vh;
	}

	#home_divider {
		display: inline-block;
		width: 45%;
	}

	#cuisine_divider {
		display: inline-block;
		width: 45%;
	}

	#cuisine_divider .restaurant_box .pic_left_text_right .text_container {
		width: 100%;
		display: block;
	}

	#cuisine_divider .restaurant_box .text_left_pic_right .text_container {
		width: 100%;
		display: block;
	}

	#attract_divider {
		width: 22%;
	}
}

@media (min-width: 1800px) {

}